/* header */
div.header {
    border-style: solid;
    border-width: 1.5px;
    margin: 30px 450px 9px 455px;
    text-align: center;
}
.header h1{
  font-size: 45px;
  margin: 13px 2px -8px 2px;
  font-family: 'Gelasio';
  font-weight: 400;
}
.header-nav{
  margin: 4px 1px 15px 1px;
}
.header-nav a{
  color:inherit;
  text-decoration: none;
  font-style: italic;
  font-size: 12px;
  padding: 7px;
}

/* img */

.img-container {
  margin-top: 68px;
}

.img-container img{
  display: flex;
  justify-items: center;
  object-fit: cover;
  padding: 3px;
  margin-left: 415px;
  width: 590px;
  height: 590px;
}

footer{
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 7.5px;
  margin-top: 27px;
  margin-bottom: 14px;
}
footer img{
  background: transparent;
  width: 14px;
  height: 14px;
  padding: 7px;
  display: inline-block;
  margin-top: 1px;
  margin-bottom: 1px;
}
